*{
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: #FB6E4B;
    position: relative;
}

.title{
    position: absolute;
    top: 40px;
    left: 40px;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.description{
    position: absolute;
    max-width: 350px;
    top: 90px;
    left: 40px;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 10;
    font-size: 14px;
}

canvas {
    width: 100%;
    height: 100%;
}