*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ariel', 'Helvetica', sans-serif;
}

html,
body {
    position: relative;
    height: 100%;
    background-color: #fff;
}

a {
    color: inherit;
  }

.intro{
    position: relative;
    top: 10%;
}

.title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.subtitle{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #000;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 50px;
    color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .auto{
    text-align: center;
}

/* projects */

.swiper {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
  }

.swiper-wrapper{
    margin-left: 40px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide .card-content{
    width: 300px;
    height: 300px;
    padding: 20px;
}

.swiper-slide .t .name{
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 30px;
    font-weight: 500;
    color: #000;

}

.swiper-slide .t .description{
    max-width: 270px;
    position: absolute;
    top: 45%;
    left: 5.5%;
    margin-top: 20px;
    font-size: 15px;
    color: #000;
    
}

.swiper-slide .button{
    width: 100%;
    margin-top: 20px;
    padding-right: 20px;
}

:root {
    --swiper-theme-color: #4F5254;
}

.projects{
    width: 300px;
    height: 300px;
    z-index: 1;
    border-radius: 10px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: transform .2s;
    box-shadow: 0 10px 15px rgba(0,0,0,0.13);
}

.projects:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.project-1{
    background-image: url("/images/to-do.png");   
}

.project-2{
    background-image: url("/images/explosion.gif");
}

.project-3{
    background-image: url("/images/dragnmove.gif");
}


/*.swiper-slides{
    width: 100%;
    height: 100vh;
    padding: 50px;
    color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-card .image{
    height: 200px;
    width: 200px;
}

.swiper-card .image img{
    max-height: 100%;
    max-width: 100%;
    opacity: 100%;
    border-radius: 10px;
}

.swiper-card{
    background: #EFEAE5;
    border-radius: 20px;
}

.swiper-card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 100;
}

.swiper-card .name-project{
    margin-top:20px;
    font-size: 18px;
    font-weight: 500;
    color: #4F5254;
}

.swiper-card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.swiper-card .button button{
    background: #C7BEB5;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button:hover{
    background: #4F5254;
}*/